@font-face {
	font-family: 'Montserrat-700'; 
	src: url(../../../assets/fonts/Montserrat-Bold.ttf); 
}
.myBtn {
  border: none;
  background-color: #4F27BF;
  width: 217px;
  height: 70px;
  cursor: pointer;
  border-radius: 10px;;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  color: #FFFFFF;
  font-family: 'Montserrat-700';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
}

@media (max-width: 768px) {
  .myBtn {
    width: 140px;
    height: 50px;
    font-size: 16px;
  }
}
@media (max-width: 320px) {
  .myBtn {
    width: 120px;
    height: 40px;
    font-size: 10px;
  }
}
