.b_hamburger {
  display: none;
}

@media (max-width: 768px) {
  .b_hamburger .h_line {
    width: 50px;
    height: 3px;
    background-color: #ffffff;
    display: block;
    margin: 10px auto;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
  .b_hamburger {
    right: 10%;
    display: block;
    position: absolute;
    background-color: inherit;
    margin: 20px 0;
    width: 50px;
    height: 50px;
    z-index: 2;
  }
  .b_hamburger.is_active {
    background-color: white;
  }
  .b_hamburger:hover {
    cursor: pointer;
  }
  .b_hamburger.is_active .line2 {
    opacity: 0;
  }

  .b_hamburger.is_active .line1 {
    transform: translateY(13px) rotate(45deg);
    background-color: #1C1C1E;
  }

  .b_hamburger.is_active .line3 {
    transform: translateY(-13px) rotate(-45deg);
    background-color: #1C1C1E;
  }
}
